// Backgrounds

.paleBlueBG {
    background: $paleBlue;
}
.whiteBG {
    background: $white;
}
.navyBG {
    background: $navy;
}
.transWhiteBG {
    background: $transWhite;
}
.parallaxBG {
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    @include phone {
        background-attachment: inherit;
    }
}

// Padding 

.padding {
    padding: 80px 0;
}
.paddingSmall {
    
}

// Hide n show

.hide-mobile {
    @include phone {
        display: none;
    }
}
.hide-desktop {
    display: none;
    @include phone {
        display: block;
    }
}

// Content Area Styling

.contentArea {
    .row-add-bottom {
        margin-bottom: 60px;
    }
    .rowButton {
        margin-top: 80px;
    }
    .pdfDownload {
        @include phone {
            width: 48%;
            margin: 0 0 4% 4%;
            &:nth-of-type(odd) {
                margin-left: 0;
            }
        }
    }
}

// Featured content section

#featuredContent {
    padding: 100px 0;
    h2 {
        color: $navy;
        margin: 0 0 60px 0;
    }
    .pdfDownload {
        img {
            margin: 0 0 20px 0;
        }
    }
    #featuredContentList {
        .pdfDownload {
            padding-bottom: 35px;
            position: relative;
            min-height: 400px;
            a {
                line-height: 1em;
                position: absolute;
                left: 20%;
                bottom: 0;
                width: 60%;
                padding-bottom: 5px;
            }
            @include tablet {
                min-height: 350px;
            }
            @include tablet-portait {
                //min-height: 400px;
            }
            @include phone {
                min-height: 400px;
            }
        }
    }
}

// Partner with us section

#partnerWithUs {
    background-image: url(../img/partnerWithUsBGAlt.jpg);
    .contentPadding {
        padding: 80px 0;
        h2 {
            color: $navy;
        }
        h6 {
            color: $greyThree;
            margin-bottom: 50px;
        }
        a {
            color: $blue;
            text-decoration: none;
            padding-bottom: 2px;
            position: relative;
        }
        @include phone {
            padding: 35px 25px;
        }
    }
    
}

#carouselContainer {
    background-image: url(../img/carouselBG.jpg);
    .brochureCarousel {
        overflow: hidden;
        .brochureCarouselContent {
            background: rgba(228, 232, 239, 0.8);
            padding: 40px;
            
        }
        .slick-dots {
            margin: 20px 0 0 0;
            text-align: center;
            li {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: $white;
                @include border-radius(100%);
                margin: 0 20px 0 0;
                vertical-align: middle;
                button {
                    display: none;
                }
                &.slick-active {
                    background: none;
                    border: 2px solid $white;
                    width: 18px;
                    height: 18px;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        @include border-radius(100%);
                        position: absolute;
                        left: 7px;
                        top: 7px;
                        background: $white;
                    }
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 40%;
        margin: 0;
        border: none;
        padding: 0;
        width: 22px;
        height: 38px;
        &#slick-next {
            right: 10%;
            svg {
                   -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
        }
        &#slick-previous {
            left: 10%;
        }
        @include phone {
            top: 93%;
        }
    }
}


// Full width content

.fullwidthContent {
    display: -ms-flexbox;
    display: flex;
    .downloadArea {
        padding: 130px 5%;
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            @include scale(1);
            @include rolloverAnimations(500ms);
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            background: $blue;
            opacity: 0.8;
        }
        h3 {
           color: $white; 
        }
        p {
            font-size: 1.250em;
            color: $white;
        }
        .link {
            padding: 10px 0;
            text-align: center;
            background: $navy;
            display: block;
            width: 45px;
            margin: 0 auto;
            line-height: 1em;
            @include rolloverAnimations(250ms);
            svg {
                width: 14px;
                height: auto;
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                .cls-1 {
                    @include rolloverAnimations(250ms);
                }
            }
            &:after {
                display: none;
            }
            &:hover {
                background: $white;
                .arrow {
                    .cls-1 {
                        stroke: $navy;
                    }
                }
            }
        }
        &#animationsVideos {
            &:before {
                @include background-image('animationsVideosBG.jpg', center center);
            }
        }
        &#brochuresWhitepapers {
            &:before {
                @include background-image('brochuresWhitepapersBG.jpg', center center);
            }
        }
        &#caseStudies {
            &:before {
                @include background-image('caseStudiesBG.jpg', center center);
            }
        }
        &:hover {
            &:before {
                @include scale(1.2);
            }
        }
        
    }
    @include tablet {
//        display: block;
//        .downloadArea {
//            width: 100%;
//        }
    }
    @include tablet-portait {
        display: block;
        .downloadArea {
            width: 100%;
        }
    }
    @include phone {
        display: block;
        .downloadArea {
            width: 100%;
            padding: 55px 40px;
        }
    }
}

// Blog

.blogrow {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 50px 0;
//    &:nth-of-type(odd) {
//        -webkit-flex-direction: row-reverse;
//        flex-direction: row-reverse; 
//    }
    &:last-of-type {
        margin-bottom: 0;
    }
    .bgImage {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .blogrowContent {
        padding: 45px;
        text-align: center;
        p {
            color: $greyTwo;
        }
        .heading {
            h4 {
                font-size: 1.875em;
                color: $navy!important;
                margin: 0 0 5px 0;
            }
        }
        .date {
            p {
                color: $blue;
                font-family: 'fsjoey-medium-webfont';
            }
        }
    }
    @include phone {
        display: block;
        .bgImage {
            height: 165px;
        }
    }
}

// Blog listing page

#BlogListing {
    &.paleBlueBG {
        h2 {
            color: $navy;
        }
    }
}

// Blog article styling

.blogArticle {
    position: relative;
    padding: 80px 0;
    .colouredBoxBG {
        width: 100%;
        height: 450px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .blogArticleInfo {
        margin: 0 0 30px 0;
        position: relative;
        .heading {
            h4 {
                color: $navy;
                margin: 0;
            }
        }
        .date {
            p {
                color: $blue;
                margin: 0;
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: -20px;
            top: 0;
            width: 2px;
            height: 100%;
            background: $blue;
        }
    }
    .blogArticleContent {
        h1 {
            font-size: 1.4em;
            color: $navy;
        }
        p {
            line-height: 1.4em;
            a {
                color: $blue;
                font-size: inherit;
                font-weight: inherit;
                font-family: 'lato-light';
                padding: 0;
                line-height: 1.4em;
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                    display: none;
                }
            }
        }
        ul {
            li {
                display: block;
                list-style: circle;
                margin: 0 0 10px 0;
                padding: 0 0 0 15px;
                position: relative;
                &:after {
                    display: block;
                    content: '';
                    background: $blue;
                    width: 6px;
                    height: 6px;
                    @include border-radius(100%);
                    position: absolute;
                    left: 0;
                    top: 8px;
                }
            }
        }
        img {
            margin: 40px 0;
            width: 100%;
            height: auto;
        }
        blockquote {
            padding: 30px 80px 30px 95px;
            margin: 0 0 30px 0;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 45px;
                height: 32px;
                position: absolute;
                left: 0;
                top: 0;
                @include background-image('speechLeft.png', center center);
            }
            &:after {
                content: '';
                display: block;
                width: 45px;
                height: 32px;
                position: absolute;
                right: 0;
                bottom: 0;
                @include background-image('speechRight.png', center center);
            }
        }
        
    }
    .borderTopBottom {
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        padding: 40px 0;
        p {
            margin: 0;
        }
    }
    .author {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        margin: 50px 0 0 0;
        .authorImage {
            width: 100px;
            height: 100px;
//            @include border-radius(49% 51% 49% 51% / 10% 10% 90% 90% );
//               -moz-transform: rotate(-40deg);
//            -webkit-transform: rotate(-40deg);
//                 -o-transform: rotate(-40deg);
//                -ms-transform: rotate(-40deg);
//                    transform: rotate(-40deg);
            overflow: hidden;
            img {
                margin: 0;
//               -moz-transform: rotate(40deg);
//            -webkit-transform: rotate(40deg);
//                 -o-transform: rotate(40deg);
//                -ms-transform: rotate(40deg);
//                    transform: rotate(40deg);
//                width: 200px;
//                margin: 0 auto;
//                position: relative;
//                left: -50px;
//                top: -10px;
            }
            .clip-svg {
              clip-path: url(#myClip);
            }
        }
        .authorDetails {
            margin: 0 0 0 20px;
            vertical-align: middle;
            .name {
                color: $navy; 
                font-size: 1.250em;
                line-height: 1em;
                font-family: 'fsjoey-medium-webfont';
                margin: 0 0 5px 0;
            }
            .title {
                color: $blue;
                font-size: 1em;
                line-height: 1em;
                font-family: 'fs_joey-light';
            }
        }
    }
}

// Download Listing


.filterContent {
    @include tablet-portait {
        width: 80%;
        margin: 0;
    }
}
.filterContainer {
    .filterRow {
        text-align: center;
        margin: 0 0 50px 0;
        a {
            padding: 10px 0;
            background: $white;
            border: 1px solid $blue;
            color: $blue;
            font-size: 1.125em;
            line-height: 1em;
            display: block;
            &:after {
                display: none;
            }
            &.active {
                background: $blue;
                color: $white;
            }
            &:hover {
                background: $blue;
                color: $white;
                @include rolloverAnimations(250ms);
            }
        }
    }
    @include phone {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        padding: 75px 30px;
        @include box-sizing();
        background: $paleBlue;
        .row {
            margin: 0 0 15px 0;
        }
        a {
            margin: 0 0 10px 0;
        }
        .rowInternalLinks {
            ul {
                li {
                    width: 100%;
                    margin:0;
                    a {
                        .icon {
                            width: 24px;
                        }
                    }
                    &.brochures {
                        a {
                            .icon {
                                width: 26px;
                            }
                        }
                    }
                    &.overview {
                        a {
                            .icon {
                                width: 22px;
                            }
                        }
                    }
                    &.caseStudies {
                        a {
                            .icon {
                                width: 26px;
                            }
                        }
                    }
                }
            }
        }
        .closeButton {
            position: absolute;
            width: 30px;
            height: 24px;
            top: 25px;
            right: 30px;
            span {
              display: block;
              position: absolute;
              height: 1.5px;
              width: 100%;
              background: $navy;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: .25s ease-in-out;
              -moz-transition: .25s ease-in-out;
              -o-transition: .25s ease-in-out;
              transition: .25s ease-in-out;
                &:nth-child(1) {
                  top: 11px;
                  -webkit-transform: rotate(135deg);
                  -moz-transform: rotate(135deg);
                  -o-transform: rotate(135deg);
                  transform: rotate(135deg);
                }
                &:nth-child(2) {
                  display: none;
                }
                &:nth-child(3) {
                  top: 11px;
                  -webkit-transform: rotate(-135deg);
                  -moz-transform: rotate(-135deg);
                  -o-transform: rotate(-135deg);
                  transform: rotate(-135deg);
                }
            }
        }
    }
    
}


.rowInternalLinks {
    ul {
        li {
            width: 22%;
            float: left;
            list-style: none;
            text-align: center;
            margin: 0 0 0 4%;
            &:first-of-type {
                margin: 0;
            }
            a {
                display: block;
                font-size: 1.125em;
                &:after {
                    display: none;
                }
                .icon {
                    width: 36px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                .text {
                    line-height: 1em;
                    color: $navy;
                    margin: 0 0 10px 0;
                }
                .dot {
                    width: 8px;
                    height: 8px;
                    margin: 0 auto;
                    @include border-radius(10px);
                    border: 1px solid $blue;
                    background: $white;
                }
                &.active {
                    .dot {
                        background: $blue;
                    }
                }
            }
            &.videos {
                
            }
            &.brochures {
                a {
                    .icon {
                        width: 41px;
                    }
                }
            }
            &.overview {
                a {
                    .icon {
                        width: 45px;
                    }
                }
            }
            &.caseStudies {
                a {
                    .icon {
                        width: 40px;
                    }
                }
            }
        }
    }
}

#downloadListing {
    .rowListing {
        h2 {
            color: $navy;
            margin: 0 0 60px 0;
        }
        .listing {
            padding:  0;
            margin: 0 0 50px 0;
            border-bottom: 1px solid $blue;
//            display: -ms-flexbox;
//            display: flex;
            .listingItem {
               padding: 0 1%;
               margin: 0;
               padding-bottom: 15px;
               position: relative; 
               min-height: 380px;
               width: 16.6667%;
                @include tablet {
                    min-height: 350px;
                }
                @include tablet-portait {
                    min-height: 300px;
                }
            }
            .title {
                h6 {
                    font-size: 1.250em;
                    color: $navy;
                    margin: 0 0 20px 0;
                }
            }
            img {
                margin: 0 0 10px 0;
            }
            a {
                color: $blue;
                font-size: 1em;
                line-height: 1em;
                position: absolute;
                left: 20%;
                bottom: 0;
                width: 60%;
                padding-bottom: 5px;
                &:after {
                    width: 80%;
                    left: 10%;
                }
            }
            .listingItem {
                margin-bottom: 50px;
                @include phone {
                width: 48%;
                margin: 0 0 40px 4%;
                    &:nth-of-type(odd) {
                        margin-left: 0;
                    }
                }
            }
        
        }
        &:last-of-type {
            .listing {
                margin: 0;
                padding: 0;
                border: none;
            } 
        }
    }
    #videoListing {
    .listing {
        .listingItem {
            padding-bottom: 0;
            margin: 0 0 0 4%;
            padding: 0;
            width: 30.6666666667%;
            @include phone {
                width: 48%;
                margin: 0 0 40px 4%;
                min-height: auto;
                &:nth-of-type(odd) {
                    margin-left: 0;
                }
            }
            a {
                position: relative;
                left: 0;
            }
            &:first-of-type {
                margin-left: 0!important;
            }
        }
    }
}
}




















