body {
    font-family: 'lato-light';
    &.open {
        overflow: hidden;
    }
}
.site-container {
    position: relative;
//    z-index: 1;
    left: 0%;
    @include rolloverAnimations(300ms);
    &.open {
        left: -60%;
    }
    @include phone {
        z-index: 1;
    }
}

// Cookie bar styling

#cookie-law {
    padding: 20px 100px 20px 20px;
    position: relative;
    background: $white;
    z-index: 11;
    @include box-sizing();
    p {
        margin: 0;
        color: $greyThree;
        font-size: 1em; 
        line-height: 1.6em;
        a {
            color: $navy;
            font-family: 'fsjoey-medium-webfont';
            text-decoration: none;
            font-size: inherit;
            line-height: inherit;
            &.close-cookie-banner {
                position: absolute;
                right: 20px;
                top: 20px;
            }
            &:after {
                display: none;
            }
        }
    }
    @include phone {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
}


// Header Styling 

.header {
    position: fixed;
    padding: 20px 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    @include rolloverAnimations(300ms);
    .logo {
        width: 90px;
        margin: 0 auto;
        @include rolloverAnimations(300ms);
    }
    &.scrolled {
       padding: 10px 0;
       background: $white;
        .logo {
            width: 54px;
        }
    }
    .open & {
        background: none;
    }
    @include phone {
        padding: 10px;
        @include box-sizing();
        .logo {
            margin: 0;
            width: 50px;
        }
        &.scrolled {
            padding: 10px;
            .logo {
                width: 50px;
            }
        }
    }
}




// Nav icon styling

#nav-icon {
  width: 30px;
  height: 24px;
  position: absolute;
  top: 35px;
  right: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
    .scrolled & {
        top: 15px;
    }  
  span {
      display: block;
      position: absolute;
      height: 1.5px;
      width: 100%;
      background: $white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2) {
          top: 11px;
        }
        &:nth-child(3) {
          top: 23px;
        }
      .scrolled & {
          background: $navy;
      }
      .open & {
            background: $white;
        }
    }
//    &:hover {
//        span {
//           &:nth-child(1) {
//               top: -2px;
//           }
//           &:nth-child(3) {
//               top: 25px;
//           }
//        }
//    }
    &.open {
        span {
            &:nth-child(1) {
              top: 11px;
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:nth-child(2) {
              opacity: 0;
              left: -60px;
            }
            &:nth-child(3) {
              top: 11px;
              -webkit-transform: rotate(-135deg);
              -moz-transform: rotate(-135deg);
              -o-transform: rotate(-135deg);
              transform: rotate(-135deg);
            }
       }
       span {
           &:nth-child(1) {
               top: 11px;
           }
           &:nth-child(3) {
               top: 11px;
           }
        }
    }
    @include phone {
        top: 12px;
        right: 15px;
        .scrolled & {
            top: 12px;
        }
    }
}

// Hidden nav styling

.hiddenNav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(48,48,48, 0.96);
    text-align: center;
    display: none;
    .hiddenNavTable {
        display: table;
        width: 100%;
        height: 100%;
        .hiddenNavTableCell {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    }
    .links {
        .nav {
            ul {
                li {
                    display: inline-block;
                    width: 100%;
                    max-width: 200px;
                    margin: 0 -5px 0 0;
                    a {
                        display: block;
                        padding: 0 40px;
                        font-size: 1.500em;
                        color: $white;
                        text-decoration: none;
                        text-align: center;
                        font-family: 'fsjoey-medium-webfont';
                        position: relative;
                        .icon {
                            margin: 35px 0 0 0;
                        }
                        &:after {
                            display: none;
                        }
                        &:before {
                            content: '';
                            display: block;
                            width: 1px;
                            height: 45px;
                            background: $white;
                            position: absolute;
                            right: 0;
                            top: 55%;
                        }
                    }
                    &:last-of-type {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @include phone {
        display: block;
        opacity: 0;
        z-index: 0;
        height: 100vh;
        @include rolloverAnimations(300ms);
        .links {
            .nav {
                padding-left: 40%;
                ul {
                    li {
                        a {
                            &:before {
                                display: none;
                            }
                            .icon {
                                margin: -10px 0 0 0;
                                svg {
                                    .hide-mobile {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .open & {
            opacity: 1;
        }
    }
}

// Mobile filters styling 

.filterMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 75px 30px;
    @include box-sizing();
    display: none;
    .row {
        margin: 0 0 15px 0;
    }
    a {
        margin: 0 0 10px 0;
    }
    .rowInternalLinks {
        ul {
            li {
                width: 100%;
                margin:0;
                a {
                    .icon {
                        width: 24px;
                    }
                }
                &.brochures {
                    a {
                        .icon {
                            width: 26px;
                        }
                    }
                }
                &.overview {
                    a {
                        .icon {
                            width: 22px;
                        }
                    }
                }
                &.brochures {
                    a {
                        .icon {
                            width: 26px;
                        }
                    }
                }
            }
        }
    }
    .hide-mobile {
        display: block!important;
    }
    &.active {
        
    }
}



