// Hero section styling

.heroSection {
    position: relative;
    padding: 270px 0;
    overflow: hidden;
    .background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &.backgroundOne {
            @include background-image('heroBGLayerOne.jpg', bottom center);
//            z-index: 0;
            background-size: 100%;
            @include tablet {
                background-size: cover;
            }
            @include tablet-portait {
                background-size: cover;
            }
        }
        &.backgroundTwo {
            @include background-image('heroBGLayerTwo.png', center center);
//            z-index: 1;
            background-size: 100%;
            @include tablet {
                background-size: cover;
            }
            @include tablet-portait {
                background-size: cover;
            }
        }
        &.backgroundThree {
            @include background-image('heroBGLayerThree.png', center center);
//            z-index: 2;
            background-size: 100%;
            @include tablet {
                background-size: cover;
            }
            @include tablet-portait {
                background-size: cover;
            }
        }
        @include phone {
            position: absolute;
        }
    }
    .links {
        .nav {
            ul {
                li {
                    display: inline-block;
                    width: 100%;
                    max-width: 200px;
                    margin: 0 -5px 0 0;
                    a {
                        display: block;
                        padding: 0 40px;
                        font-size: 1.500em;
                        color: $white;
                        text-decoration: none;
                        text-align: center;
                        font-family: 'fsjoey-medium-webfont';
                        position: relative;
                        .icon {
                            margin: 35px 0 0 0;
                            @include phone {
                                margin-top: -10px;
                                svg {
                                    .hide-mobile {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &:after {
                            display: none;
                        }
                        &:before {
                            content: '';
                            display: block;
                            width: 1px;
                            height: 45px;
                            background: $white;
                            position: absolute;
                            right: 0;
                            top: 55%;
                            @include phone {
                                display: none;
                            }
                        }
                    }
                    &:last-of-type {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &.heroSectionChild {
        padding: 190px 0;
        h1 {
            margin: 0;
        }
    }
    &.heroSectionNoHeading {
        padding: 0;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    @include phone {
        padding: 110px 0;
    }
}

// Blog Hero Image

#blogHero {
    @include background-image('blogHeroBG.jpg', center center);
}

// Resources Hero Image

#resourcesHero {
    @include background-image('resourcesHeroBG.jpg', center center);
}



