@include fontFace('fs_joey', 'fonts/fs_joey');
@include fontFace('fs_joey-light', 'fonts/fs_joey-light');
@include fontFace('fsjoey-medium-webfont', 'fonts/fsjoey-medium-webfont');
@include fontFace('lato-light', 'fonts/lato-light');
@include fontFace('icomoon', 'fonts/icomoon');

//@include fontFace('UniversLTStd-Bold','fonts/UniversLTStd-Bold/',$weight: normal,$style: normal);

//@font-face {
//  font-family: 'icomoon';
//  src:  url('fonts/icomoon/icomoon.eot?hlphrf');
//  src:  url('fonts/icomoon/icomoon.eot?hlphrf#iefix') format('embedded-opentype'),
//    url('fonts/icomoon/icomoon.ttf?hlphrf') format('truetype'),
//    url('fonts/icomoon/icomoon.woff?hlphrf') format('woff'),
//    url('fonts/icomoon/icomoon.svg?hlphrf#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}