h1 {
    font-size: 4.375em;
    line-height: 1em;
    margin: 0 0 20px 0;
    font-family: 'fs_joey-light';
    font-weight: normal;
    .heroSection & {
        color: $white;
        margin-bottom: 60px;
        @include phone {
            margin: 0 0 20px 0;
        }
    }
    .heroSectionChild & {
        color: $navy;
        margin: 0;
    }
    #resourcesHero & {
        color: $white;
    }
    @include phone {
        font-size: 2.500em;
    }
}
h2 {
    font-size: 2.500em;
    line-height: 1em; 
    font-family: 'fsjoey-medium-webfont';
    font-weight: normal;
    margin: 0 0 30px 0;
    .navyBG & {
        color: $white;
    }
    .whiteBG & {
        color: $blue;
    }
    &.add-bottom {
        margin-bottom: 40px;
    }
}
h3 {
   font-size: 2.125em;
   line-height: 1em;
    font-family: 'fsjoey-medium-webfont';
    font-weight: 100;
    margin: 0 0 30px 0;
}
h4 {
    font-size: 1.750em;
    line-height: 1.2em;
    font-family: 'fsjoey-medium-webfont';
    font-weight: normal;
    margin: 0 0 20px 0;
    .brochureCarousel & {
        font-family: 'fs_joey-light';
        color: $greyThree;
    }
    #relatedBlogListing & {
        font-size: 1.875em;
        color: $white;
    }
}
h5 {
    font-size: 1.500em;
    line-height: 1.2em;
    font-family: 'lato-light';
    font-weight: 100;
    margin: 0 0 20px 0;
    strong {
        font-weight: bold;
    }
    .navyBG & {
        color: $white;
    }
    .whiteBG & {
        color: $greyThree;
    }
    &.add-bottom {
        margin-bottom: 40px;
    }
}
h6 {
    font-size: 1.125em;
    line-height: 1em;
    margin: 0 0 20px 0;
    font-family: 'fsjoey-medium-webfont';
    font-weight: normal;
    .pdfDownload & {
        font-size: 1.250em;
        margin: 0 0 15px 0;
        color: $navy;
    }
    .brochureCarousel & {
        color: $navy;
    }
}
p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 0 15px 0;
    .pdfDownload & {
        color: $greyTwo;
    }
}
sup {
    font-size: 60%;
}
a {
    font-size: 1.375em;
    line-height: 2em;
    font-family: 'fsjoey-medium-webfont';
    font-weight: normal;
    text-decoration: none;
    padding: 0;
    position: relative;
    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: $blue;
        position: absolute;
        left: 0;
        bottom: 0;
        @include scale(1);
        @include rolloverAnimations(250ms);
    }
    &:hover {
        &:after {
            @include scale(0);
        }
    }
    .pdfDownload & {
        font-size: 1em;
        color: $blue;
    }
}

blockquote {
    font-size: 1.500em;
    line-height: 1.4em;
    font-style: italic;
    font-family: Georgia,Times,Times New Roman,serif; 
    color: $greyThree;
    font-weight: 100;
}


.button {
    width: 100%;
    max-width: 220px;
    font-size: 1.125em;
    line-height: 1em;
    text-transform: none;
    font-family: 'fsjoey-medium-webfont';
    font-weight: normal;
    letter-spacing: 0;
    padding: 15px 0;
    text-align: center;
    height: auto;
    border-color: $navy;
    @include border-radius(0px);
    background: $navy;
    color: $white;
    @include rolloverAnimations(250ms);
    margin: 0;
    &:after {
        display: none;
    }
    &:hover {
        background: $white;
        color: $navy;
    }
    &.buttonWhite {
        background: $white;
        color: $navy;
        border-color: $white;
        &:hover {
            background: $navy;
            color: $white;
        }
    }
    &.readmore {
        background: $blue;
        border-color: $blue;
        &:hover {
            color: $blue;
            background: $white;
        }
    }
    &.viewmore {
        background: $blue;
        border-color: $blue;
        max-width: 335px;
        margin: 0 auto;
        &:hover {
            color: $blue;
            background: $white;
        }
        @include phone {
            max-width: 100%;
        }
    }
    &.filterButton {
        margin: 0 auto;
        background: $blue;
        border-color: $blue;
        &:focus {
            color: $white;
        }
    }
    &.filterButtonClose {
        margin: 0 auto;
        background: $blue;
        border-color: $blue;
        &:focus {
            color: $white;
        }
    }
    &:focus {
        color: $white;
    }
}



.text-align-center {
    text-align: center;
}