// Brand Color
$primary-color: blue;

// Font sizes
$font-size: 18px;

// Screen sizes

$mobile-portait: 414px;
$tablet-width: 768px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;

// Padding & margins

$padding: 100px 0;

// Colours 

$white: #ffffff;
$navy: #223e75;
$greyOne: #303030;
$greyTwo: #61605e;
$greyThree: #4c4c4c;
$greyFour: #595959;
$greyFive: #333333;
$paleBlue: #e4e8ef;
$blue: #2f6ecd;
$transWhite: rgba(255,255,255,0.9);